.main-nav {
    margin-top: 10px;
    list-style: none;
    padding-right: 0;
    background-color: aqua;
}

.main-nave__item {
    display: inline-block;

}
.main-nave__item a {
    color: white;
    padding: 5px;
    border-radius: 2px ;
    text-decoration: none;
    
}
.main-nave__item a:hover {
    color: blue;
}
.main-nave__item a:active {
    color: red;
}
.main-nave__item a::after{
    content: " | ";
}